* {
    text-decoration: none;
    
}
html{
    background-color: rgba(51, 51, 51, 0.185);
}

.main {
    text-align: center;
}

.nav__titulo {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

