* {
    text-decoration: none;

}
html{
    background-color: rgba(51, 51, 51, 0.185);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav__titulo {
    text-align: center;
}

.section__image {
    text-align: center;
}




